.container {
    width: 100%;
    background-color: lightgreen;
    text-align:center;
    
}

table {
    width: 100%;

}

th {
    font-style:bold;
    color: red;
    background-color:orange;
    
}

td:nth-child(even) {
    background-color: rgb(219, 219, 168);
}

th,td {
    border-style:solid;
    border-radius: 10px;
    border-color: black;
}

.list-container {
    width: 100%;
    text-align:center;
    background-color: lightgreen;
    
    
}

